#navbar{

  margin-left:80px;
 
  right:100px;}
#A{
  margin-left:17.2px;
  height:20.19px;
  width:47.3px;
}
#A2{
  margin-left:17.2px;
  height:20.19px;
  width:68.8px;}
#A3{
  margin-left:17.2px;
  height:20.19px;
  width:78.83px;}

#A4{
  margin-left:17.2px;
  height:20.19px;
  width:64.5px;}
#A1{margin-left:425.7px;
  height:20.19px;
width:51.6px;

}
#B{width:150px;
  height:46.24px;
}

#D{
  margin-left:28.67px;
  width:160.54px;
  height:51.6px;
  border-radius:51.6px;background-color:#000000;
color:white;

}

#image{
  height:100px;
  width:100px;}
#table1{
margin-top:110.9px
}
#table{
  width:340.1;
height:80;
font-size:96px;
}
#table2{
  width:273.8;
height:60.16;
font-size:96px;
}#table3{
  width:551.27;
height:144.88;
font-size:96px;
}
#table4{
margin-top:46.66;
  width:456.74;
height:63.84;
  font-size:13.5px;color:#B67DF0;

}
#naman{
  margin-left:709.35px;
  margin-bottom:162.5px;
  height:497.25px;
  width:563.55px;}
#button1{
margin-top:46.66px;
  height:60.16px;width:195.22px;
  border-radius:51.6px;background-color:#956AF2;
color:white;
}
#button2{
margin-top:46.66px;
  height:60.16px;width:65.07px;
  border-radius:51.6px;background-color:#956AF2;
}
#button3{
  width:60.16px;
  border-radius:51.6px;background-color:956AF2;
}
#field{
margin-top:64.99px;
  border-radius:20px; 
}


#data{
padding:40px;
  font-size:13.5px; color:#B67DF0;}










  
  


