a{margin-right:28.67px}
.about{
  height:20.19px;
  width:51.6px;
  color:white;




}
.team{
  height:19px;
  width:47.3px;
  color:white;



}
.service{
  height:19px;
  width:68.8px;
color:white;


}
.sol{
  height:19px;
  width:78.83px;
color:white;


}
.car{
  height:19px;
  width:64.5px;
color:white;


}





.logo{
  margin-right:425.7px;
  margin-left:80px;
  height:46.24px;
width:150px;

  padding:0px;
  border:0px;



}

.b1{
  background-color:white;
  color:black;
  border-radius:25.8px;
  font-size:10px;
  height:51.6px;
  width:160.54px;
  padding:0px;
  border:0px;


}

.us{
  padding:0px;
  border:0px;
  height:8.63.px;
  width:74.53px;
margin-left:43.005px;


}


img{height:38px;

}
.b{
  margin-left:28px;
}
.unlocking{
  height:80px;
  width:340.1px;
color:white;
}



.dh{
  height:60.16px;
width:273.8px;
  display:inline;

  color:#B67DF0;

}

.with{
  height=144.88px;
  width=551.27px;
  color:white;
}

.senior{
  color:white;
}


h1{margin-left:80px;
  font-size:80px;
  display:inline;
font-family:arial;



}
.big{margin-top:110.9px;}

.small{
  margin-left:80px;
  font-size:14px;
  height=63.84px;
width=456.74px;

  font-family:arial;
color:#808080;

}


.b2{
  background-color:#956AF2;
color:white;
  height:60.16px;
  width:195.22px;
border-radius:30.08px;
padding:0px;
  border:0px;
  margin-left:80px;
display:inline;


}

.b3{
  height:60.16px;
  width:65.07px;
  border-radius:30.08px;
  background-color:#956AF2;
  padding:0px;
  border:0px;
  display:inline;

}

.cube{
  height:497.25px;
  width:563.55px;
  margin-left:789.62px;
  position:relative;
bottom:485px;

}

.footer{
  border-color:#808080;
  border-width:6px;
  border-style:solid;
  height:216.38px;
  width:1184.38px;
  margin-left:80px;
  border-radius:34.08px;
}

.m{
  margin-right:139px;
color:white;

}



body{
  background-image:url('https://blockverse2024.s3.ap-south-1.amazonaws.com/image+16.png');
background-size:cover;
}
#container{
 
}








