h1{
  color:white;
}
p{
  color:grey;
}
#shrot{
  width:129px;
  height:40px;
  position:absolute;
  left:0;
  top:0;
}
.box{
  width:238px;
  height:88px;
  border:1px solid white;
  padding;10px;
  color:white;
}
#grad{
  box:linear-gradient(to right,purple,blue);
}
.topnav a{
  float:middle;
  text-align:center;
  color:#f2f2f2;
  font-size:18px;
  margin:43px;
}
.shrot a{float:right;
  margin:43px;
  top:0;
}
img{
  width:45px;
  height:45px;
top:}
h2{
  color:white;}
#a{width:14px;
  height:17px;}
#chutiya{top=0

















  



