.blockchain{
  width:150px;
}
h5{
  display: inline;
  border-top-left-radius:10px;
   }
div {
  display: inline;
}
.violet{
  color: violet;}
section{
text-align:left;
  width:50%;
  line-height:10px;
padding: 200px;}
.blocks{
  width:300px;
  padding:40px;}
trans {
color: red;
  .dreams {
    background-color:blue;



   
